<%- include("partials/header"); -%>

    <h1>Home</h1>

    <p><%= startingcontent %> </p>

    <div class="">
        <% tradelog.forEach(log => { %> 
            <div class="card">
                <div class="card-body">
                  <h2 class="card-title"><%=  log.logtitle %></h2>
                  <p class="card-text"> <%= log.logbody.substring(0,100) %> ...
                    <a href="/logs/<%= log._id %>" class="">Read More</a>
                    </p>
                  
                </div>
            </div>
        <% }); %>
    </div>

    <div class="compose" style="text-align: right;">
        <a href="/compose" class="btn btn-info">Compose new Blog</a>
    </div>
<%- include("partials/footer"); -%>


